<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="" th:href="@{/css/addsong.css}">
<title>Insert title here</title>
</head>
<body>
<div class="title">
           <h1>Melomates Music</h1>
       </div>   
<form action="/addsongs" method="post">

   <label>SongName </label>
   <input type="text" name="songname">
   <br/> <br/>
   
    <label>SongArtist </label>
   <input type="text" name="songartist">
   <br/> <br/>
   
    <label>SongGenre </label>
   <input type="text" name="songgenre">
   <br/> <br/>
   
    <label>SongLink </label>
   <input type="url" name="songlink">
   <br/> <br/>
   
   <input type="submit">
   
</form>
</body>
</html>