<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
   <h1>Welcome Admin</h1>
   
   <form action="/map-songs" method="get">
    <button>Add Songs</button>
   </form>
   <br>
   <form action="/map-view" method="get">
    <button>View Songs</button>
   </form>
   <br/>
   <form action="/map-playList" method="get">
    <button>Add PlayList</button>
   </form>
   <br/>
   <form action="/map-viewplayList" method="get">
    <button>View PlayList</button>
   </form>
   
  
</body>
</html>