<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="login.css" th:href="@{/css/createplaylist.css}">
</head>
<body>
<div class="title">
           <h1>Melomates Music</h1>


       </div>   
 <form action="/playlistDB" method="post">
 
	<label>PlayList Name</label>
	<input type="text" name="playlistname">
	<br/>
	

	<div th:each="song : ${song}">
	
	<input type="checkbox" th:name="song" th:value="${song.id}">
	<label th:text="${song.songname}"></label>
	</div>

	
	<input type="submit" value="ADD PLAYLIST">
</form>
<a href="/logout" class="home" style="display: inline-block; 
padding: 10px 20px; background-color: #008000; color: white; text-decoration: none; 
border-radius: 4px; transition: background-color 0.3s ease; position: relative;left: 520px">Logout</a>
</body>
</html>