<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="login.css" th:href="@{/css/customerhome.css}">
<title>Insert title here</title>
</head>
<body>
    <div class="title">
        <h1>Melomates Music</h1>
        <a href="/logout" >Logout</a>
    </div>
    <div class="container">
        <h1>Welcome to Customer Home</h1>
        
        <a href="/exploreSongs" class="animated-link">Explore Songs</a>
        <br>  
        
    </div>
</body>
</html>