<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/image/playlist.jpg" type="/image/playlist.jpg">
    <link rel="stylesheet" href="" th:href="@{/css/home.css}"/>
    <title>Home Page</title>
</head>
<body>
<div class="bar-container">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
</div>
    <div class="container">
        <h1>MeloMates Music</h1>
        <div class="register">
            <a href="/map-register" class="reg">Register</a>
            <br />
            <br />
            <a href="/map-login" class="log">Login</a>
        </div>
    </div>
</body>
</html>